@font-face {
  font-family: "MavenPro";
  src: url("../assets/fonts/MavenPro.ttf") format("truetype");
  font-display: block;
}
@font-face {
  font-family: "Barcode";
  src: url("../assets/fonts/Barcode.ttf") format("truetype");
  font-display: block;
}
body {
  background-color: #F7C824;
}

p {
  font-size: 1.2rem;
}

.btn {
  background-color: #F03637;
  color: #FFF !important;
}

.btn:hover {
  background-color: #3B93CF;
  color: #FFF;
}

.section-title {
  font-family: "MavenPro", sans-serif;
  font-size: 3rem !important;
  font-weight: 400;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #3B93CF;
}

.navbar {
  background-color: #F7C824;
}
.navbar .navbar-brand {
  font-family: "MavenPro", sans-serif;
  font-size: 2rem;
  letter-spacing: -0.05em;
  color: #F03637;
  text-transform: uppercase;
}
.navbar .navbar-brand span {
  color: #3B93CF;
  text-transform: lowercase;
}
.navbar .navbar-brand span.dark {
  color: #000;
}
.navbar .navbar-brand:hover {
  color: #3B93CF;
}
.navbar .navbar-brand:hover span:not(.dark) {
  color: #F03637;
}

header {
  width: 100%;
  height: 100vh;
}
header .header-subtitle {
  font-family: "MavenPro", sans-serif;
  font-size: 4rem;
  margin: 0;
  font-weight: 400;
  letter-spacing: -0.05em;
  color: #5B4C28;
}
header .sub-title-container {
  background-color: #000;
  padding: 1rem;
}
header img {
  max-width: 50vh;
  min-width: 300px;
}
header .bar-container {
  background-color: #000;
}
header hr {
  left: 0px;
  width: 100%;
  margin: 0;
  border-width: 24px;
}
header #thread1 {
  border-color: #5B4C28;
  -webkit-animation: barAnimation 4s;
  -moz-animation: barAnimation 4s;
  -o-animation: barAnimation 4s;
  animation: barAnimation 4s;
  animation-delay: -2s;
  border-width: 16px;
}
header #thread2 {
  border-color: #3B93CF;
  -webkit-animation: barAnimation 6s;
  -moz-animation: barAnimation 6s;
  -o-animation: barAnimation 6s;
  animation: barAnimation 6s;
  animation-delay: -4s;
}
header #thread3 {
  border-color: #C55099;
  -webkit-animation: barAnimation 8s;
  -moz-animation: barAnimation 8s;
  -o-animation: barAnimation 8s;
  animation: barAnimation 8s;
  animation-delay: -6s;
}
header #thread4 {
  border-color: #F03637;
  -webkit-animation: barAnimation 10s;
  -moz-animation: barAnimation 10s;
  -o-animation: barAnimation 10s;
  animation: barAnimation 10s;
  animation-delay: -8s;
}
header #thread5 {
  border-color: #CFA100;
  -webkit-animation: barAnimation 12s;
  -moz-animation: barAnimation 12s;
  -o-animation: barAnimation 12s;
  animation: barAnimation 12s;
  animation-delay: -10s;
}

@-webkit-keyframes barAnimation {
  0% {
    width: 100%;
  }
  50% {
    width: 100%;
  }
  80% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}
@-moz-keyframes barAnimation {
  0% {
    width: 100%;
  }
  50% {
    width: 100%;
  }
  80% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}
@-o-keyframes barAnimation {
  0% {
    width: 100%;
  }
  50% {
    width: 100%;
  }
  80% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}
@keyframes barAnimation {
  0% {
    width: 100%;
  }
  50% {
    width: 100%;
  }
  80% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}
#portfolio img {
  filter: grayscale(1);
}

.portfolio-item {
  display: block;
  position: relative;
  overflow: hidden;
  max-width: 530px;
  margin: auto auto 1rem;
}
.portfolio-item .caption {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 37, 41, 0.2);
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
}
.portfolio-item .caption .caption-content {
  color: #fff;
  margin: auto 2rem 2rem;
  opacity: 0;
}
.portfolio-item .caption .caption-content h4 {
  font-family: "MavenPro", sans-serif;
  font-size: 2rem;
}

#about {
  padding-top: 0;
  margin-top: -16px;
}
#about span {
  color: #3B93CF;
  font-weight: bold;
}

#contact {
  padding-top: 0;
  margin-top: -16px;
}
#contact img {
  max-width: 100%;
  border-radius: 13px;
}
#contact input,
#contact textarea {
  background-color: #000;
  color: #FFF;
  border: none;
}

#project {
  background-color: #000;
  color: white;
}
#project a {
  color: #C55099;
}
#project a:hover {
  color: #CFA100;
  text-decoration: none;
}
#project ul {
  list-style-type: none;
}
#project h4.section-title {
  font-size: 1.5rem !important;
}

footer {
  background-color: #000;
  padding-top: 0 !important;
  margin-top: -16px;
}
footer hr {
  margin-top: 0;
}
footer #goldOne {
  background: linear-gradient(to right, #5B4C28 0%, #a78c5f 33%, #5B4C28 50%, #a78c5f 83%, #5B4C28 100%);
  height: 24px;
  margin-bottom: 4px;
}
footer #goldTwo {
  background: linear-gradient(to right, #5B4C28 0%, #a78c5f 34%, #5B4C28 51%, #a78c5f 84%, #5B4C28 100%);
  height: 24px;
  margin-bottom: 7px;
}
footer #goldThree {
  background: linear-gradient(to right, #5B4C28 0%, #a78c5f 35%, #5B4C28 52%, #a78c5f 85%, #5B4C28 100%);
  height: 20px;
  margin-bottom: 10px;
}
footer #goldFour {
  background: linear-gradient(to right, #5B4C28 0%, #a78c5f 36%, #5B4C28 53%, #a78c5f 86%, #5B4C28 100%);
  height: 15px;
  margin-bottom: 15px;
}
footer #goldFive {
  background: linear-gradient(to right, #5B4C28 0%, #a78c5f 37%, #5B4C28 54%, #a78c5f 87%, #5B4C28 100%);
  height: 10px;
  margin-bottom: 20px;
}
footer #goldSix {
  background: linear-gradient(to right, #5B4C28 0%, #a78c5f 38%, #5B4C28 55%, #a78c5f 88%, #5B4C28 100%);
  height: 7px;
  margin-bottom: 3rem;
}
footer .social-link {
  background-color: #F03637 !important;
  color: #FFF !important;
}
footer .social-link:hover {
  background-color: #3B93CF !important;
  color: #FFF !important;
}
footer .social-link svg {
  margin-bottom: 1.5px;
}
footer .copy {
  font-family: "Barcode", cursive;
  font-size: 2rem;
  color: #5B4C28;
}

@media screen and (min-width: 992px) {
  .portfolio-item {
    max-width: none;
    margin: 0;
  }
  .portfolio-item .caption {
    transition: background-color 0.7s, -webkit-clip-path 0.25s ease-out;
    transition: clip-path 0.25s ease-out, background-color 0.7s;
    transition: clip-path 0.25s ease-out, background-color 0.7s, -webkit-clip-path 0.25s ease-out;
    -webkit-clip-path: inset(0px);
    clip-path: inset(0px);
  }
  .portfolio-item .caption .caption-content {
    transition: opacity 1s;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 5rem;
  }
  .portfolio-item img {
    transition: -webkit-clip-path 0.25s ease-out;
    transition: clip-path 0.25s ease-out;
    transition: clip-path 0.25s ease-out, -webkit-clip-path 0.25s ease-out;
    -webkit-clip-path: inset(-1px);
    clip-path: inset(-1px);
  }
  .portfolio-item:hover img {
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
  }
  .portfolio-item:hover .caption {
    background-color: #F03637;
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
  }
  .portfolio-item:hover .caption-content {
    opacity: 1;
  }
  #about .section-title,
  #portfolio .section-title,
  #contact .section-title {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    margin: 0;
  }
}
@media screen and (max-width: 500px) {
  p,
  .navbar .navbar-brand {
    font-size: 1.333rem;
  }
  header img {
    max-width: 80%;
    min-width: auto;
  }
  header .header-subtitle {
    font-size: 3.2rem;
  }
}

/*# sourceMappingURL=styles.css.map */
